charset-normalizer==3.4.3
choreographer==1.0.9
customtkinter==5.2.2
darkdetect==0.8.0
kaleido==1.0.0
logistro==1.1.0
narwhals==2.0.1
numpy==2.3.2
orjson==3.11.1
packaging==25.0
pandas==2.3.1
pillow==11.3.0
plotly==6.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.3
simplejson==3.20.1
six==1.17.0
tzdata==2025.2
